@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Grand+Hotel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --subheader-color: #bb2528;
    --text-color: #232323;
    --inherit-p: #737373;
    scroll-behavior: smooth;
  }

.Our__Happy__Clients {
    width: 100%;
    padding: 90 0px;
}
  

.container {
   margin: 0 24px;
}
  
.happy_client {
  display: flex;
  flex-direction: column;
} 

.subheader {
    color: var(--subheader-color);
    font-size: 14px;
    letter-spacing: .06em;
    font-family: 'Grand Hotel', cursive;
    vertical-align: baseline;
}

h2 {
    font-family: 'Playfair Display', serif;
    color: #232323;
    font-weight: bold;
    font-size: 34px;
    line-height: 1.2;
    margin-top: 20px;
    letter-spacing: 0;
}
/* common */
.arrow {   
    height: 32px;
    object-fit: contain;
    object-position: 0% 50%;
}


.arrow {
  margin-top: 25px;
}

.happy_text {
  font-family: Fira Sans,sans-serif;
  color: #737373;
  font-size: 18px;
  font-weight: 400;
  margin-top: 20px;
}

.img_carousel {
  object-fit: cover;
  object-position: 54.128% 0%;
  box-sizing: border-box;
  padding-top: 50px;
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 600px;
}

.carousel_name {
  font-size: 22px;
  font-family: 'Playfair Display', serif;
  color: #bb2528;
  letter-spacing: 0;
  font-weight: 600;
  margin-top: 20px;
}

.divider {
  height: 3px;
  width: 8%;
  background-color: #f9f4ee;
  margin-top: 15px;
  margin-bottom: 15px;
}

.carousel_text {
  font-family: "Fira Sans", sans-serif;
  color: #737373;
  font-size: 16px;
  line-height: 1.6;
  margin-top: 20px;
  word-wrap: break-word;
}

.carousel_date {
  font-family: "PT Sans", sans-serif;
  color: #4f4f4f;
  text-transform: none;
  font-size: 14px;
  font-style: italic;
  margin-top: 20px;
}












